node_modules/
temp
dist/
bundle/
out
build
generated
yarn-error.log
*.generated.graphql
ignored-*
package-lock.json
.bob
.history
.DS_Store
.mesh
/.idea/
.next/
/website/src/pages/docs/api/
/.husky/_/
newrelic-agent.log
website/public/_redirects
packages/legacy/types/src/config-schema.ts
newrelic_agent.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.mise.toml
docker/supergraph.graphql
sea-prep.blob
mesh-serve
