node_modules/
temp
dist/
out
build
generated
yarn-error.log
*.generated.graphql
ignored-*
package-lock.json
.bob
.history
.DS_Store
.mesh
/.idea/
.next/
/website/src/pages/docs/api/
/.husky/_/
newrelic-agent.log
website/public/_redirects
packages/types/src/config-schema.ts
