.button {
  cursor: pointer;
  border: 1px solid var(--ifm-link-color);
  border-radius: 3px;
  color: var(--ifm-link-color);
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
  margin: 5px;
  background: transparent;
}

.button a {
  color: var(--ifm-link-color) !important;
}

.buttonContained {
  cursor: pointer;
  border: 1px solid var(--ifm-link-color);
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
  margin: 5px;
  background: var(--ifm-link-color);
}

.buttonContained a {
  color: #fff !important;
}

.buttonContained:hover {
  background: transparent;
}

.buttonContained:hover a {
  color: var(--ifm-link-color) !important;
}

.button:hover {
  background: var(--ifm-link-color);
  color: #fff !important;
  text-decoration: none;
  border-color: white;
}


