.pickerSelector {
    color: black;
}

.picker {
    padding-left: 30px;
    padding-bottom: 2rem;
    white-space: nowrap;
  }

.container {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    margin-top: 3px;
    font-size: 12px;
  }

  .blur {
    -webkit-animation: blur 0.5s linear forwards;
    -moz-animation: blur 0.5s linear forwards;
    -ms-animation: blur 0.5s linear forwards;
    -o-animation: blur 0.5s linear forwards;
    animation: blur 0.5s linear forwards;
  }
  @-webkit-keyframes blur {
    to {
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }
  }
  @-moz-keyframes blur {
    to {
      -moz-filter: blur(5px);
      filter: blur(5px);
    }
  }
  @keyframes blur {
    to {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      filter: blur(5px);
    }
  }
