name: loadtest

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  loadtest-e2e:
    name: node ${{matrix.node-version}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 18
          - 20
          - 22
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: the-guild-org/shared-config/setup@v1
        name: setup env
        with:
          node-version: ${{matrix.node-version}}
      - name: Prepare for build
        run: yarn prebuild
      - name: hash docker images
        id: hash-docker-images
        # get all "image: '" occurrences in the e2e tests and hash them
        run: |
          echo "result=$(grep -r -h "image: '" e2e | shasum | base64)" >> "$GITHUB_OUTPUT"
      - name: cache docker images
        uses: ScribeMD/docker-cache@0.5.0
        with:
          key: docker-images-${{ runner.os }}-${{ steps.hash-docker-images.outputs.result }}
      - name: loadtest
        run: yarn loadtest:e2e
