name: loadtest

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  e2e:
    name: e2e / node ${{matrix.node-version}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18, 20, 22]
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: the-guild-org/shared-config/setup@main
        name: setup env
        with:
          nodeVersion: ${{matrix.node-version}}
          packageManagerVersion: modern
      - name: loadtest
        run: yarn loadtest:e2e
