name: release

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  stable:
    permissions:
      contents: read
      id-token: write
    if: github.ref == 'refs/heads/master'
    uses: the-guild-org/shared-config/.github/workflows/release-stable.yml@main
    with:
      releaseScript: release
      nodeVersion: 18
      packageManagerVersion: modern
    secrets:
      githubToken: ${{ secrets.GUILD_BOT_TOKEN }}
      npmToken: ${{ secrets.NODE_AUTH_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3
      - name: log in to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 18
          packageManagerVersion: modern
      - name: prepare
        run: yarn prebuild
      - name: bundle
        run: yarn bundle
      - name: version
        run: |
          export SHORT_REF="$(git rev-parse --short HEAD)"
          echo SHORT_REF="$SHORT_REF" >> $GITHUB_ENV
          export VERSIONS="$SHORT_REF,${{ github.head_ref || github.ref_name }}"
          ${{ github.ref == 'refs/heads/master' && 'export VERSIONS="$VERSIONS,latest"' || '' }}
          echo VERSIONS="$VERSIONS" >> $GITHUB_ENV
      - name: bake and push
        uses: docker/bake-action@v5
        with:
          provenance: false
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
          push: true
      - name: comment on pr
        if: github.event_name == 'pull_request'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: Docker Images
          message: |
            Published images for this PR are available at:
            ```
            ghcr.io/ardatan/mesh-serve:${{ env.SHORT_REF  }}
            ```
