name: NPM Release
on:
  release:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Configure CI Git User
        run: |
          git config --global user.email "${{github.actor}}@bots.github.com"
          git config --global user.name "${{github.actor}}"
          git remote rm origin
          git remote add origin "https://github.com/Urigo/graphql-mesh"
          git fetch
          git checkout master
          git reset --hard
      - run: yarn install
      - run: npm run ci:release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NPM_VERSION: ${{ github.event.release.tag_name }}
      - run: |
          git add .
          git commit -m "${{ github.event.release.tag_name }}"
          git push -f
