name: release
on:
  push:
    branches:
      - master

jobs:
  stable:
    id: release
    uses: the-guild-org/shared-config/.github/workflows/release-stable.yml@main
    with:
      releaseScript: release
      nodeVersion: 18
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}
      npmToken: ${{ secrets.NODE_AUTH_TOKEN }}

  docker-image:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up QEMU
        if: steps.changesets.outputs.published == 'true'
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        if: steps.changesets.outputs.published == 'true'
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        if: steps.changesets.outputs.published == 'true'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build & Publish Docker Image
        if: steps.changesets.outputs.published == 'true'
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: |
            theguild/graphql-mesh:latest
            theguild/graphql-mesh:${{ github.sha }}
          context: ./packages/container
          file: ./packages/container/Dockerfile
