name: website

on:
  push:
    branches:
      - master
  pull_request:

env:
  YARN_ENABLE_HARDENED_MODE: 0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deployment:
    runs-on: ubuntu-latest
    if:
      github.event.pull_request.head.repo.full_name == github.repository || github.event_name ==
      'push'
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: the-guild-org/shared-config/setup@v1
        name: set up env
        with:
          # node-version-file: .node-version
          # Website build fails on Node.js 22.7.0, use `node-version-file` later
          node-version: 22.6.0

      - uses: the-guild-org/shared-config/website-cf@v1
        name: build and deploy website
        env:
          NEXT_BASE_PATH: ${{ github.ref == 'refs/heads/master' && '/graphql/mesh' || '' }}
          SITE_URL:
            ${{ github.ref == 'refs/heads/master' && 'https://the-guild.dev/graphql/mesh' || '' }}
        with:
          cloudflareAccountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          cloudflareApiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          projectName: graphql-mesh
          prId: ${{ github.event.pull_request.number }}
          websiteDirectory: ./
          buildScript: yarn build:website
          artifactDir: website/out
